<html lang="en">
<head>
  <title>Wizard???</title>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src ="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  
  <link rel="stylesheet" href="JQheadercss.css" media="screen">
  
  <link rel = "icon" href = "icon.gif">
  <!--<audio autoplay = "true" src = "audio2.mp3">-->
  <audio autoplay="autoplay" loop="loop">
		<source src="audio2.mp3">-->
	</audio>
</head>


<body>
	<!--top head part-->
	<div class = "header">
		<!--image over bg; "hella rad" equivalent-->
		<center>
		<img src ="question.gif">
		<center>
	</div>
	<!--navbar-->
	<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
		<div class="navbar-header">
		  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>                        
		  </button>
		</div>
		
		<div class="collapse navbar-collapse" id="myNavbar">
		  
		  <ul class="nav navbar-nav">
			<li><a href="JQindex.html"><p>Index</p></a></li>
			<li><a href="page2.html"><p>Page 2</p></a></li>
			<li><a href="page3.html"><p>Page 3</p></a></li>
		  </ul>
		  
		  <ul class="nav navbar-nav navbar-right">
			<li><a href="cachemonet.com"><span class="glyphicon glyphicon-heart-empty"></span></a></li>
			<li><a href="beesbeesbees.com"><span class="glyphicon glyphicon-piggy-bank"></span></a></li>
		  </ul>
		</div>
	  </div>
	</nav>
	<!--End Nav-->
</body>
</html>

<html>
<head>
</head>

<body>
</body>
</html>
