<html lang='en'>
<head>
  <title>Wizard???</title>
  
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css'>
  <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
  <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js'></script>
  <script src='https://code.jquery.com/jquery-3.3.1.js'></script>
  <script src ='https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js'></script>
  
  <link rel='stylesheet' href='JQheadercss.css' media='screen'>
  
  <link rel = 'icon' href = 'icon.gif'>
  <!--<audio autoplay = 'true' src = 'audio2.mp3'>-->
  <audio autoplay='autoplay' loop='loop'>
		<source src='audio2.mp3'>-->
	</audio>
</head>


<body>
	<!--top head part-->
	<div class = 'header'>
		<!--image over bg; 'hella rad' equivalent-->
		<center>
		<img src ='question.gif'>
		<center>
	</div>
	<!--navbar-->
	<nav class='navbar navbar-inverse'>
	  <div class='container-fluid'>
		<div class='navbar-header'>
		  <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='#myNavbar'>
			<span class='icon-bar'></span>
			<span class='icon-bar'></span>
			<span class='icon-bar'></span>                        
		  </button>
		</div>
		
		<div class='collapse navbar-collapse' id='myNavbar'>
		  
		  <ul class='nav navbar-nav'>
			<li><a href='JQindex.html'><p>Index</p></a></li>
			<li><a href='page2.html'><p>Page 2</p></a></li>
			<li><a href='page3.html'><p>Page 3</p></a></li>
		  </ul>
		  
		  <ul class='nav navbar-nav navbar-right'>
			<li><a href='cachemonet.com'><span class='glyphicon glyphicon-heart-empty'></span></a></li>
			<li><a href='beesbeesbees.com'><span class='glyphicon glyphicon-piggy-bank'></span></a></li>
		  </ul>
		</div>
	  </div>
	</nav>
	<!--End Nav-->
</body>
</html>


<!--Eden Maxey April 9 2018-->
<html>
<head>
<style>
.body{
	float: center;
}
body{
	color: white;
}
</style>
</head>

<body>
<div class = 'body'>
<img src= 'cursor1.gif'>
<h1>Certification</h1>
<img src= 'cursor1.gif'>
<br>
You too can earn your (semi) highly respected PHP certification from the world famous-ish Fictional Institute of PHP Certification
<br><br>
Simply answer the questions below:
<br><br> 
	<form action='/form' method='post'>
	Your Name: <input type = 'text' name = 'name'>
	<br>
	<br>What does PHP statement echo do?<br>
	1.<input type = 'radio' name = 'q1' value = '1'> Outputs strings<br>
	2.<input type = 'radio' name = 'q1' value = '2'> Adds two numbers together<br>
	3.<input type = 'radio' name = 'q1' value = '3'> Makes cheese<br>
	<br>
	<br>What does the PHP function cos() do?<br>
	1.<input type = 'radio' name = 'q2' value = '1'>Calculates cosine in radians<br>
	2.<input type = 'radio' name = 'q2' value = '2'>Calculates tangent in radians<br>
	3.<input type = 'radio' name = 'q2' value = '3'>It is not a PHP function. It is lettuce<br>
	<br>
	<br>What does the PHP function mail() do?<br>
	1.<input type = 'radio' name = 'q3' value = '1'>Sends a mail message<br>
	2.<input type = 'radio' name = 'q3' value = '2'>Checks for new mail<br>
	3.<input type = 'radio' name = 'q3' value = '3'>Toggles PHP between male and female mode<br>
	<br>
	<br>What class is this for?<br>
	1.<input type = 'radio' name = 'q4' value = '1'>Ad WebTech<br>
	2.<input type = 'radio' name = 'q4' value = '2'>CSI<br>
	3.<input type = 'radio' name = 'q4' value = '3'>Moving and Learning<br>
	<br>
	<br>What is the return value of echo?<br>
	1.<input type = 'radio' name = 'q5' value = '1'>None.<br>
	2.<input type = 'radio' name = 'q5' value = '2'>1<br>
	3.<input type = 'radio' name = 'q5' value = '3'>Infinite<br>
	<br>
	<br>What is the return value of print?<br>
	1.<input type = 'radio' name = 'q6' value = '1'>None.<br>
	2.<input type = 'radio' name = 'q6' value = '2'>1<br>
	3.<input type = 'radio' name = 'q6' value = '3'>Infinite<br>
	<input type = 'submit' alt = 'submit'>
</div>
</body>
</html>