<html>
<head>
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Rad</title>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="sunglassescss.css" media="screen">
  
  <link rel = "icon" href = "icon.gif">
  <audio autoplay = "true" loop="loop" src = "audio2.mp3"></audio>
  
<script>
	$(document).ready(function() {
		$('#sunb').click(function(){
			$('#sung').animate({'top':'+=1535px'})
		} );
	});
</script>
<script>
	$(document).ready(function() {
		$('#sunc').click(function(){
			$('#sung').animate({'top':'-=1535px'});
		});
	});
</script>

<script>
	$(document).ready(function() {
		$('#ordb').click(function(){
			$('#sungord').animate({'top':'+=1570px'})
		} );
	});
</script>
<script>
	$(document).ready(function() {
		$('#ordc').click(function(){
			$('#sungord').animate({'top':'-=1570px'});
		});
	});
</script>

<script>
	$(document).ready(function() {
		$('#zhangb').click(function(){
			$('#sunzhang').animate({'top':'+=1585px'})
		} );
	});
</script>
<script>
	$(document).ready(function() {
		$('#zhangc').click(function(){
			$('#sunzhang').animate({'top':'-=1585px'});
		});
	});
</script>

<script>
	$(document).ready(function() {
		$('#dongb').click(function(){
			$('#sundong').animate({'top':'+=1565px'})
		} );
	});
</script>
<script>
	$(document).ready(function() {
		$('#dongc').click(function(){
			$('#sundong').animate({'top':'-=1565px'});
		});
	});
</script>

<script>
	$(document).ready(function() {
		$('#darkordb').click(function(){
			$('#fezdarkord').animate({'top':'+=1490px'})
		} );
	});
</script>
<script>
	$(document).ready(function() {
		$('#darkordc').click(function(){
			$('#fezdarkord').animate({'top':'-=1490px'});
		});
	});
</script>

<script>
	$(document).ready(function() {
		$('#campb').click(function(){
			$('#sarhat').animate({'top':'+=2200'})
		} );
	});
</script>
<script>
	$(document).ready(function() {
		$('#campc').click(function(){
			$('#sarhat').animate({'top':'-=2200'});
		});
	});
</script>
<script>
	$(document).ready(function() {
		$('#campd').click(function(){
			$('#beard').animate({'top':'+=2600'})
		} );
	});
</script>
<script>
	$(document).ready(function() {
		$('#campe').click(function(){
			$('#beard').animate({'top':'-=2600'});
		});
	});
</script>
<script>
	$(document).ready(function() {
		$('#campf').click(function(){
			$('#suncamp').animate({'top':'+=2200'})
		} );
	});
</script>
<script>
	$(document).ready(function() {
		$('#campg').click(function(){
			$('#suncamp').animate({'top':'-=2200'});
		});
	});
</script>

<script>
	$(document).ready(function() {
		$('#shecampb').click(function(){
			$('#hatshecamp').animate({'top':'+=2200'})
		} );
	});
</script>
<script>
	$(document).ready(function() {
		$('#shecampc').click(function(){
			$('#hatshecamp').animate({'top':'-=2200'});
		});
	});
</script>
<script>
	$(document).ready(function() {
		$('#shecampd').click(function(){
			$('#starshecamp').animate({'top':'+=2200'})
		} );
	});
</script>
<script>
	$(document).ready(function() {
		$('#shecampe').click(function(){
			$('#starshecamp').animate({'top':'-=2200'});
		});
	});
</script>

<script>
	$(document).ready(function() {
		$('#minicampb').click(function(){
			$('#threed').animate({'top':'+=3000'})
		} );
	});
</script>
<script>
	$(document).ready(function() {
		$('#minicampc').click(function(){
			$('#threed').animate({'top':'-=3000'});
		});
	});
</script>


</head>


<body>
<center>
<!--top head part-->
<div class = "header">
		<img src = "rad.gif" alt = "logo" height = "200" href = "BStagsradindex.php"></img>
		<p style="color: white; font-size:20px; font-family: "Times New Roman", Times, serif;"> t a g ' s - r a d - b l o g </p>
</div>
<!--navbar-->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
    </div>
	
    <div class="collapse navbar-collapse" id="myNavbar">
      
	  <ul class="nav navbar-nav">
        <li><a onClick = "location.reload();"><p>Music</p></a></li>
      </ul>
	  
      <ul class="nav navbar-nav navbar-right">
        <li><a href="beesbeesbees.com"><span class="glyphicon glyphicon-heart-empty"></span>Boop</a></li>
        <li><a href="cachemonet.net"><span class="glyphicon glyphicon-piggy-bank"></span>Beep</a></li>
      </ul>
    </div>
  </div>
</nav>
<!--End Nav-->
</body>
</html></head>

<body>
	<div class = "body">
		<img src = "home.gif" alt = "home"></img>
		<div class = "container">
			<div class = "row">
				<div class = "col-md-6">
				<div class ='coolaf'>
					<div class = 's'>
						<img id = 'sung' src = 'sung.png' width='100'>
					</div>
				</div>
				<!--end cool div-->
				</div>
				<div class = "col-md-6">
				<div class = "ord">
					<div class = 'sord'>
						<img id = 'sungord' src = 'sung.png' width='200'>
					</div>
				</div>
				</div>
			</div>
			<div class = "row">
				<div class = "col-md-6">
					<button id='sunb' class='ui-button ui-widget ui-corner-all'>Button 1!!!</button>
					<button id='sunc' class='ui-button ui-widget ui-corner-all'>Button 2!!!</button>
				</div>
				<div class = "col-md-6">
					<button id='ordb' class='ui-button ui-widget ui-corner-all'>Button 1!!!</button>
					<button id='ordc' class='ui-button ui-widget ui-corner-all'>Button 2!!!</button>
				</div>
			</div>
			<div class = "row">
				<div class = "col-md-12">
					<div class = 'dongzhang'>
						<div class = 'sdongzhang'>
							<img id = 'sunzhang' src = 'sung.png' width='100'>
							<img id = 'sundong' src = 'sung.png' width='100'>
						</div>
					</div>
				</div>
			</div>
			<div class = "row">
				<div class = "col-md-6">
					<div style="margin-left:200px;">
					<button id='zhangb' class='ui-button ui-widget ui-corner-all'>Button 1!!!</button>
					<button id='zhangc' class='ui-button ui-widget ui-corner-all'>Button 2!!!</button>
					</div>
				</div>
				<div class = "col-md-6">
					<div style="margin-right:200px;">
					<button id='dongb' class='ui-button ui-widget ui-corner-all'>Button 1!!!</button>
					<button id='dongc' class='ui-button ui-widget ui-corner-all'>Button 2!!!</button>
					</div>
				</div>
			</div>
			<div class = "row">
				<div class = "col-md-12">
					<div class = 'darkord'>
						<div class = 'fdarkord'>
							<img id = 'fezdarkord' src = 'fez.png' width = '75'>
						</div>
					</div>
				</div>
			</div>
			<div class = "row">
				<div class = "col-md-12">
					<button id='darkordb' class='ui-button ui-widget ui-corner-all'>Button 1!!!</button>
					<button id='darkordc' class='ui-button ui-widget ui-corner-all'>Button 2!!!</button>
				</div>
			</div>
			
			<div class = "row">
				<div class = "col-md-12">
					<div class = 'camp'>
						<div class = 'fcamp'>
							<img id = 'beard' src = 'beard.gif' width = '350'>
							<img id = 'sarhat' src = 'sarhat.gif' width = '300'>
							<img id = 'suncamp' src = 'sung.png' width='300'>
							<img id = 'hatshecamp' src='aruru.png' width='350'><br>
							<img id = 'starshecamp' src='star.png' width='300'>
						</div>
					</div>
				</div>
			</div>
			<div class = "row">
			<div class = "col-md-6">
					<button id='shecampb' class='ui-button ui-widget ui-corner-all'>Button 1!!!</button>
					<button id='shecampc' class='ui-button ui-widget ui-corner-all'>Button 2!!!</button>
					<br>
					<button id='shecampd' class='ui-button ui-widget ui-corner-all'>Button 1!!!</button>
					<button id='shecampe' class='ui-button ui-widget ui-corner-all'>Button 2!!!</button>
				</div>
				<div class = "col-md-6">
					<button id='campb' class='ui-button ui-widget ui-corner-all'>Button 1!!!</button>
					<button id='campc' class='ui-button ui-widget ui-corner-all'>Button 2!!!</button>
					<br>
					<button id='campd' class='ui-button ui-widget ui-corner-all'>Button 3!!!</button>
					<button id='campe' class='ui-button ui-widget ui-corner-all'>Button 4!!!</button>
					<br>
					<button id='campf' class='ui-button ui-widget ui-corner-all'>Button 5!!!</button>
					<button id='campg' class='ui-button ui-widget ui-corner-all'>Button 6!!!</button>
				</div>
			</div>
			<div class = "row">
			<div class = "col-md-12">
				<div class = "minicamp">
					<div class = "fminicamp">
						<img id = 'threed' src = 'threed.gif' width = '400'>
					</div>
				</div>
			</div>
			</div>
			<div class = "row">
			<div class = "col-md-12">
				<button id='minicampb' class='ui-button ui-widget ui-corner-all'>Button 1!!!</button>
				<button id='minicampc' class='ui-button ui-widget ui-corner-all'>Button 2!!!</button>
			</div>
			</div>
		</div>
	</div>
</body>
</html>