<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
  
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src ="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
</head>

<body>
	<center><div class="jumbotron">
	<h1 class="display-4">My Simple Calculator</h1>
	</div></center>
	
	<form action = '/' method = 'post'>
	<p>Enter first number:</p><br>
	<input type = "number"><br>
	<p>Enter second number</p><br>
	<input type = "number"><br>
	<select name = "calc">
		<option value = 'add'>+</option>
		<option value = 'sub'>-</option>
		<option value = 'divi'>/</option>
		<option value = 'mult'>*</option>
	</select>
	<button formaction = '/calculate' type = "submit">
	</form>
</body>
</html>