<html>
<head>

</head>

<body>
<center>
<h1>MongoDB and NodeJS</h1>
<form action = "/subbmit" method = "post">
Name:<input type = "text" name = "name" id = "name"><br>
Email Addres:<input type = "text" name = "email" id = "email"><br>
Home Address:<input type = "text" name = "home" id = "home"><br>
Phone Number:<input type = "text" name = "phone" id = "phone"><br>
<input type = "checkbox" name = "gcheck" id = "gcheck">Guest?<br>
<button type="submit">Submit</button>
<button type="submit" formaction="/display">Display</button>
<button type="submit" formaction="/guest_only">Guest Only</button>
</form>
</body>
</html>